#foreach($ass in ${type.getOneToOne()})
#if(${ass.isOwner()})

    /**
     * Get the ${ass.name} of the ${type.name}
     * @return ${ass.name}
     * @see 
     * @see ${ass.entity}
     */
    @OneToOne(mappedBy="${ass.role}", cascade=CascadeType.PERSIST, CascadeType.MERGE, CascadeType.REFRESH)
    public ${ass.entity} get${util.capitalize(${ass.name})}() {
        return ${ass.name};
    }

    /**
     * Set the ${ass.name} of the ${type.name}
     * @param ${ass.name} The ${ass.name} 
     * @see 
     * @see ${ass.entity}
     */
    public void set${util.capitalize(${ass.name})}(${ass.entity} ${ass.name}) {
        this.${ass.name} = ${ass.name};
    }
#else

    /**
     * Get the ${ass.name} of the ${type.name}
     * @return ${ass.name}
     * @see ${ass.entity}
     */
    public ${ass.entity} get${util.capitalize(${ass.name})}() {
        return ${ass.name};
    }

    /**
     * Set the ${ass.name} of the ${type.name}
     * @param ${ass.name} The ${ass.name}
     * @see ${ass.entity}
     */
    public void set${util.capitalize(${ass.name})}(${ass.entity} ${ass.name}) {
        this.${ass.name} = ${ass.name};
    }
#end
#end